modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5173
externalPort = 8000
exposeLocalhost = true

[workflows]
runButton = "Run Dev Server"

[[workflows.workflow]]
name = "Run Dev Server"
author = 16668269
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd StreetViewEnv && npm run dev"
